name: Deploy to Coolify

on:
  push:
    branches: [master]

jobs:
  deploy:
    runs-on: ubuntu-latest
    environment: Production
    permissions:
      contents: read
      packages: write
      deployments: write
    steps:
      - uses: actions/checkout@v5
      - uses: vuetifyjs/setup-action@master
      - run: pnpm run build
      - uses: vuetifyjs/coolify-action@master
        with:
          imageName: mcp
          dockerfilePath: ./apps/docs/Dockerfile
          token: ${{ secrets.GITHUB_TOKEN  }}
          coolifyWebhook: ${{ secrets.COOLIFY_WEBHOOK }}
          coolifySecret: ${{ secrets.COOLIFY_TOKEN }}
